# EXERCISE 4

In [13]:
import pandas as pd
import bz2

In [14]:
pwd

'/Users/cortinas/Documents/DSchallenge/dschallenge'

In [21]:
ls -lrt

total 17538480
-rw-r--r--@ 1 cortinas  staff   483188920 Nov 20  2020 searches.csv.bz2
-rw-r--r--@ 1 cortinas  staff   554970628 Nov 20  2020 bookings.csv.bz2
-rw-r--r--@ 1 cortinas  staff         679 Jun 11 18:33 README.md
-rw-r--r--  1 cortinas  staff  4244874509 Jun 11 18:54 bookings.csv
-rw-r--r--  1 cortinas  staff  3696229366 Jun 11 18:57 searches.csv
-rw-r--r--@ 1 cortinas  staff         639 Jun 15 21:29 top_10_airports.csv
-rw-r--r--  1 cortinas  staff       21907 Jun 15 21:40 exercise1.ipynb
-rw-r--r--  1 cortinas  staff       85887 Jun 15 21:40 exercise2.ipynb
-rw-r--r--@ 1 cortinas  staff       45242 Jun 16 20:33 output.png
-rw-r--r--  1 cortinas  staff       45700 Jun 16 21:06 Exercise3Output.png
-rw-r--r--  1 cortinas  staff      205073 Jun 16 21:31 exercise3.ipynb
-rw-r--r--  1 cortinas  staff        3230 Jun 17 19:09 exercise4.ipynb

## Creation of new searches and bookings file removing duplicates

In [23]:
bookings = pd.read_csv ('bookings.csv.bz2', sep ='^', chunksize = 300000, low_memory = False)

In [24]:
bookings = pd.read_csv ('bookings.csv.bz2', sep ='^', chunksize = 300000, low_memory = True, dtype=str)
all_chunks = pd.DataFrame()
for i, chunk in enumerate (bookings):
    all_chunks=all_chunks.append (chunk)
    all_chunks= all_chunks.drop_duplicates()
    print ("Chunk %d, keeping %d lines" % ((i+1), len (all_chunks)))

Chunk 1, keeping 300000 lines
Chunk 2, keeping 600000 lines
Chunk 3, keeping 900000 lines
Chunk 4, keeping 1000000 lines
Chunk 5, keeping 1000000 lines
Chunk 6, keeping 1000000 lines
Chunk 7, keeping 1000000 lines
Chunk 8, keeping 1000000 lines
Chunk 9, keeping 1000000 lines
Chunk 10, keeping 1000000 lines
Chunk 11, keeping 1000000 lines
Chunk 12, keeping 1000000 lines
Chunk 13, keeping 1000000 lines
Chunk 14, keeping 1000000 lines
Chunk 15, keeping 1000000 lines
Chunk 16, keeping 1000000 lines
Chunk 17, keeping 1299993 lines
Chunk 18, keeping 1299993 lines
Chunk 19, keeping 1299993 lines
Chunk 20, keeping 1299993 lines
Chunk 21, keeping 1299993 lines
Chunk 22, keeping 1299993 lines
Chunk 23, keeping 1299993 lines
Chunk 24, keeping 1299993 lines
Chunk 25, keeping 1299993 lines
Chunk 26, keeping 1299993 lines
Chunk 27, keeping 1299993 lines
Chunk 28, keeping 1299993 lines
Chunk 29, keeping 1299993 lines
Chunk 30, keeping 1299993 lines
Chunk 31, keeping 1299993 lines
Chunk 32, keeping 1299993 lines
Chunk 33, keeping 1299993 lines
Chunk 34, keeping 1299993 lines

In [25]:
all_chunks.to_csv ('bookings.no_dup.csv', sep = '^', index = False)
!bzip2 -f bookings.no_dup.csv

In [26]:
ls -lrt

total 17702768
-rw-r--r--@ 1 cortinas  staff   483188920 Nov 20  2020 searches.csv.bz2
-rw-r--r--@ 1 cortinas  staff   554970628 Nov 20  2020 bookings.csv.bz2
-rw-r--r--@ 1 cortinas  staff         679 Jun 11 18:33 README.md
-rw-r--r--  1 cortinas  staff  4244874509 Jun 11 18:54 bookings.csv
-rw-r--r--  1 cortinas  staff  3696229366 Jun 11 18:57 searches.csv
-rw-r--r--@ 1 cortinas  staff         639 Jun 15 21:29 top_10_airports.csv
-rw-r--r--  1 cortinas  staff       21907 Jun 15 21:40 exercise1.ipynb
-rw-r--r--  1 cortinas  staff       85887 Jun 15 21:40 exercise2.ipynb
-rw-r--r--@ 1 cortinas  staff       45242 Jun 16 20:33 output.png
-rw-r--r--  1 cortinas  staff       45700 Jun 16 21:06 Exercise3Output.png
-rw-r--r--  1 cortinas  staff      205073 Jun 16 21:31 exercise3.ipynb
-rw-r--r--  1 cortinas  staff    72211641 Jun 17 19:22 bookings.no_dup.csv.bz2
-rw-r--r--  1 cortinas  staff        4880 Jun 17 19:23 exercise4.ipynb

In [28]:
searches = pd.read_csv ('searches.csv.bz2', sep ='^', chunksize = 300000, low_memory = True, dtype=str)
all_chunks = pd.DataFrame()
for i, chunk in enumerate (searches):
    all_chunks=all_chunks.append (chunk)
    all_chunks= all_chunks.drop_duplicates()
    print ("Chunk %d, keeping %d lines" % ((i+1), len (all_chunks)))

Chunk 1, keeping 299999 lines
Chunk 2, keeping 358999 lines
Chunk 3, keeping 358999 lines
Chunk 4, keeping 358999 lines
Chunk 5, keeping 359003 lines
Chunk 6, keeping 359003 lines
Chunk 7, keeping 359003 lines
Chunk 8, keeping 359003 lines
Chunk 9, keeping 359003 lines
Chunk 10, keeping 359003 lines
Chunk 11, keeping 359003 lines
Chunk 12, keeping 359003 lines
Chunk 13, keeping 359003 lines
Chunk 14, keeping 359003 lines
Chunk 15, keeping 359003 lines
Chunk 16, keeping 359003 lines
Chunk 17, keeping 359003 lines
Chunk 18, keeping 359003 lines
Chunk 19, keeping 359003 lines
Chunk 20, keeping 359003 lines
Chunk 21, keeping 359003 lines
Chunk 22, keeping 359003 lines
Chunk 23, keeping 359003 lines
Chunk 24, keeping 359003 lines
Chunk 25, keeping 359003 lines
Chunk 26, keeping 359003 lines
Chunk 27, keeping 359003 lines
Chunk 28, keeping 359003 lines
Chunk 29, keeping 359003 lines
Chunk 30, keeping 359003 lines
Chunk 31, keeping 359003 lines
Chunk 32, keeping 359003 lines
Chunk 33, keeping 359003 lines
Chunk 34, keeping 359003 lines
Chunk 35, keeping 359003 lines
Chunk 36, keeping 359003 lines
Chunk 37, keeping 359003 lines
Chunk 38, keeping 359003 lines
Chunk 39, keeping 359003 lines
Chunk 40, keeping 359003 lines
Chunk 41, keeping 359003 lines
Chunk 42, keeping 359003 lines
Chunk 43, keeping 359003 lines
Chunk 44, keeping 359003 lines
Chunk 45, keeping 359003 lines
Chunk 46, keeping 359003 lines
Chunk 47, keeping 359003 lines
Chunk 48, keeping 359003 lines
Chunk 49, keeping 359003 lines
Chunk 50, keeping 359003 lines
Chunk 51, keeping 359003 lines
Chunk 52, keeping 359003 lines
Chunk 53, keeping 359003 lines
Chunk 54, keeping 359003 lines
Chunk 55, keeping 359003 lines
Chunk 56, keeping 359003 lines
Chunk 57, keeping 359003 lines
Chunk 58, keeping 359003 lines
Chunk 59, keeping 359003 lines
Chunk 60, keeping 359003 lines
Chunk 61, keeping 359003 lines
Chunk 62, keeping 359003 lines
Chunk 63, keeping 359003 lines
Chunk 64, keeping 359003 lines
Chunk 65, keeping 359003 lines
Chunk 66, keeping 359003 lines
Chunk 67, keeping 359003 lines
Chunk 68, keeping 359004 lines

In [30]:
all_chunks.to_csv ('searches.no_dup.csv', sep = '^', index = False)

In [32]:
!bzip2 -f searches.no_dup.csv

In [33]:
ls -lrt

total 17721240
-rw-r--r--@ 1 cortinas  staff   483188920 Nov 20  2020 searches.csv.bz2
-rw-r--r--@ 1 cortinas  staff   554970628 Nov 20  2020 bookings.csv.bz2
-rw-r--r--@ 1 cortinas  staff         679 Jun 11 18:33 README.md
-rw-r--r--  1 cortinas  staff  4244874509 Jun 11 18:54 bookings.csv
-rw-r--r--  1 cortinas  staff  3696229366 Jun 11 18:57 searches.csv
-rw-r--r--@ 1 cortinas  staff         639 Jun 15 21:29 top_10_airports.csv
-rw-r--r--  1 cortinas  staff       21907 Jun 15 21:40 exercise1.ipynb
-rw-r--r--  1 cortinas  staff       85887 Jun 15 21:40 exercise2.ipynb
-rw-r--r--@ 1 cortinas  staff       45242 Jun 16 20:33 output.png
-rw-r--r--  1 cortinas  staff       45700 Jun 16 21:06 Exercise3Output.png
-rw-r--r--  1 cortinas  staff      205073 Jun 16 21:31 exercise3.ipynb
-rw-r--r--  1 cortinas  staff    72211641 Jun 17 19:22 bookings.no_dup.csv.bz2
-rw-r--r--  1 cortinas  staff     8504895 Jun 17 19:47 searches.no_dup.csv.bz2
-rw-r--r--  1 cortinas  staff        9996 Jun 17 19:49 exercise4.ipynb

## Exploring data

In [34]:
bookings = pd.read_csv ('bookings.no_dup.csv.bz2', sep = '^', nrows=100)

In [35]:
bookings.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1.0,2013.0,3.0,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1.0,2013.0,3.0,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1.0,2013.0,3.0,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1.0,2013.0,3.0,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1.0,2013.0,3.0,SYDA82546

In [36]:
bookings.columns.tolist()

['act_date           ',
 'source',
 'pos_ctry',
 'pos_iata',
 'pos_oid  ',
 'rloc          ',
 'cre_date           ',
 'duration',
 'distance',
 'dep_port',
 'dep_city',
 'dep_ctry',
 'arr_port',
 'arr_city',
 'arr_ctry',
 'lst_port',
 'lst_city',
 'lst_ctry',
 'brd_port',
 'brd_city',
 'brd_ctry',
 'off_port',
 'off_city',
 'off_ctry',
 'mkt_port',
 'mkt_city',
 'mkt_ctry',
 'intl',
 'route          ',
 'carrier',
 'bkg_class',
 'cab_class',
 'brd_time           ',
 'off_time           ',
 'pax',
 'year',
 'month',
 'oid      ']

Columns with spaces "OJO"

In [37]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.DS_Store
	.ipynb_checkpoints/
	Exercise3Output.png
	bookings.csv
	bookings.csv.bz2
	bookings.no_dup.csv.bz2
	exercise4.ipynb
	searches.csv
	searches.csv.bz2
	searches.no_dup.csv.bz2

nothing added to commit but untracked files present (use "git add" to track)

In [41]:
searches = pd.read_csv ('searches.no_dup.csv.bz2', sep = '^', nrows=100)

In [42]:
searches.head()

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,...,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
0,2013-01-01,20:25:57,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,TXL,AUH,1,2,TXL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
1,2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5cf2986e8e02,MD,ATH,MIL,0,1,ATH,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,KIV
2,2013-01-01,18:04:49,MPT,3561a60621de06ab1badc8ca55699ef3,US,ICT,SFO,1,2,ICT,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
3,2013-01-01,17:42:40,FXP,1864e5e8013d9414150e91d26b6a558b,SE,RNB,ARN,0,1,RNB,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,STO
4,2013-01-01,17:48:29,MPT,1ec336348f44207d2e0027dc3a68c118,NO,OSL,MAD,1,2,OSL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL

In [43]:
searches.columns.tolist()

['Date',
 'Time',
 'TxnCode',
 'OfficeID',
 'Country',
 'Origin',
 'Destination',
 'RoundTrip',
 'NbSegments',
 'Seg1Departure',
 'Seg1Arrival',
 'Seg1Date',
 'Seg1Carrier',
 'Seg1BookingCode',
 'Seg2Departure',
 'Seg2Arrival',
 'Seg2Date',
 'Seg2Carrier',
 'Seg2BookingCode',
 'Seg3Departure',
 'Seg3Arrival',
 'Seg3Date',
 'Seg3Carrier',
 'Seg3BookingCode',
 'Seg4Departure',
 'Seg4Arrival',
 'Seg4Date',
 'Seg4Carrier',
 'Seg4BookingCode',
 'Seg5Departure',
 'Seg5Arrival',
 'Seg5Date',
 'Seg5Carrier',
 'Seg5BookingCode',
 'Seg6Departure',
 'Seg6Arrival',
 'Seg6Date',
 'Seg6Carrier',
 'Seg6BookingCode',
 'From',
 'IsPublishedForNeg',
 'IsFromInternet',
 'IsFromVista',
 'TerminalID',
 'InternetOffice']

## Identifying columns to be used

In [38]:
bookings =pd.read_csv ('bookings.no_dup.csv.bz2', sep = '^',\
               usecols = ['cre_date           ', 'dep_port', 'arr_port'])

In [44]:
searches =pd.read_csv ('searches.no_dup.csv.bz2', sep = '^',\
               usecols = ['Date', 'Origin', 'Destination'])

## Checking potential issues with spaces in columns arr_port and dep_port that can cause issues merging data

In [47]:

bookings.iloc[0].tolist()

['2013-02-22 00:00:00', 'ZRH     ', 'LHR     ']

In [48]:
searches.iloc[0].tolist()

['2013-01-01', 'TXL', 'AUH']

In [49]:
bookings.iloc[0]['arr_port'].strip()

'LHR'

In [50]:
bookings.iloc[0]['dep_port'].strip()

'ZRH'